body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 148px;
}

form input.operator {
    color: #33ffd8;
}

@media screen and (max-width: 676px) {



    .calculator {
        width: 100%;
        height: auto;
    }

    .calculator form input {

        width: 20%!important;
        height: 8vh;
        padding: 6px;
        
    }
    form input.equal {
        width: 41.5vw;
    }
}

@media screen and (max-width: 522px) {



    .calculator {
        width: 90%;
        height: auto;
      
    }

    .calculator form input {

        width: 18%!important;
        height: 8vh;
       
        
    }
    form input.equal {
        width: 38vw!important;
    }
}

@media screen and (max-width: 377px) {

    .calculator {
        width: 90% !important;
        height: auto;
        padding: 0px 0px 0px 10px;
        margin-right: -20px!important;
        overflow-x: hidden;
      
        
    }

    .calculator form input {

        width: 15%!important;
        height: 6vh!important;
    }

    form input.equal {
        width: 34vw!important;
    }
}


